* {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.footer {
  background: #294FB3 !important;
}

.footer a {
  color: #000;
}

.footer ul li {
  border: none;
  background: transparent;
  cursor: pointer;
}

.footer .footer-menu ul li h6 {
  font-weight: bold;
}

.footer-nav div {
  border-bottom: 3px solid transparent;
  cursor: pointer;
}

.footer-nav div:hover {
  border-bottom: 3px solid #fff;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-nav a:hover {
  text-decoration: none;
}
